<div>
	<table class="am-amk025-table">
		<tr class="w3-tiny">
			<td colspan="2" class="w3-center"><span
				class="w3-yellow w3-border">
					{{d.children[0].children[3].children[0].value}}</span></td>
			<td></td>
			<td colspan="2" class="w3-center"><span
				class="w3-yellow w3-border">
					{{d.children[0].children[3].children[1].value}}</span></td>
		</tr>
		<tr class="w3-tiny">
			<td class="w3-center "><span class="w3-yellow w3-border">
					{{d.children[0].children[2].value}}
					{{d.children[0].children[2].children[0].value}} </span></td>
			<td class="w3-center "><span class="w3-yellow w3-border">
					{{d.children[0].children[2].value}}
					{{d.children[0].children[2].children[1].value}} </span></td>
			<td>age</td>
			<td class="w3-center "><span class="w3-yellow w3-border">
					{{d.children[0].children[2].value}}
					{{d.children[0].children[2].children[0].value}} </span></td>
			<td class="w3-center "><span class="w3-yellow w3-border">
					{{d.children[0].children[2].value}}
					{{d.children[0].children[2].children[1].value}} </span></td>
		</tr>
		<tr data-ng-repeat="age in d.children[1].children"
			data-ng-init="lastAge=$last;isMyAgeGroup=getAgeOfPatient() < d.children[1].children[$index-1].value && getAgeOfPatient()>=age.value"
			data-ng-class="{'w3-border w3-border-green':isMyAgeGroup}"
			class="w3-border-top">
			<td data-ng-repeat="age in [age]" data-ng-init="gender=0;smoker=0;"
				data-ng-include="'/f/process/process_85569_cholesterol_table.html'">
			</td>
			<td data-ng-repeat="age in [age]" data-ng-init="gender=0;smoker=1;"
				data-ng-include="'/f/process/process_85569_cholesterol_table.html'">
			</td>
			<td>{{age.value}}</td>
			<td data-ng-repeat="age in [age]" data-ng-init="gender=1;smoker=0;"
				data-ng-include="'/f/process/process_85569_cholesterol_table.html'">
			</td>
			<td data-ng-repeat="age in [age]" data-ng-init="gender=1;smoker=1;"
				data-ng-include="'/f/process/process_85569_cholesterol_table.html'">
			</td>
		</tr>
		<tr class="w3-tiny">
			<td colspan="5" class="w3-center"><span
				class="w3-yellow w3-border">
					{{d.children[0].children[4].value}}</span></td>
		</tr>
	</table>
</div>