<table style="margin-top: 11px">
	<tr data-ng-repeat="sysbp in age.children">
		<td data-ng-if="smoker==0 && gender==0" class="w3-tiny">{{sysbp.value}}</td>
		<td class="w3-border {{process_85569.color(chrl)}}"
			data-ng-repeat="chrl in sysbp.children[smoker].children[gender].children">
			{{chrl.children[0].value}} {{chrl.children[0].value>9?'':'&nbsp;'}}</td>
	</tr>
	<tr data-ng-if="lastAge">
		<td data-ng-if="smoker==0 && gender==0"></td>
		<td
			data-ng-repeat="chrl in age.children[0].children[smoker].children[gender].children">{{chrl.value}}</td>
	</tr>
</table>