<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="myCtrl" lang="uk-UA">
<meta charset="utf-8" />
<title>Планування лікування</title>
<link rel="stylesheet" href="/f/css/am.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.6/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.6/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.6/i18n/angular-locale_uk.js"></script>
<script src="/f/js/amk025-001.js"></script>
<script src="/f/process/start1.js"></script>
<!-- 
<script src="/f/amk025/start1.js"></script>
 -->
<body class="w3-container">
	<h1 class="w3-container w3-small">
		<span data-ng-include="'/f/home-link.html'"></span> Планування
		лікування <span class="am-b" data-ng-include="'/f/amk025/l1/pip.html'">
		</span>
	</h1>
	<div data-ng-include="'/f/mdoc-process-links.html'"></div>
	<div>
		<div class="w3-tiny w3-blue-gray w3-center am-b">запис</div>
		<div
			data-ng-repeat="row in elementsMap[referenceElementPaars[85116]].children"
			data-ng-if="85236==row.children[0].reference">
			<span class="w3-tiny"> {{fn.getTimestamp(row.sort) |
				date:'short'}} </span>
			<div data-ng-include="'/f/amk025/l1/row_daybook.html'"></div>
		</div>
	</div>
	<div data-ng-include="'/f/process/process_85236.html'"></div>


	<div data-ng-style="elementDialog.style" class="w3-modal">
		<div class="w3-modal-content">
			<div class="w3-container">
				<span data-ng-click="elementDialog.close()"
					class="w3-button w3-display-topright">&times;</span>
				<div class="w3-row-padding w3-border-bottom">
					<div class="w3-col m6 l6 s6 ">

						<button class="w3-border" ng-click="elementDialog.close()">Cancel,
							вихід</button>

					</div>
					<div class="w3-col m6 l6 s6 "></div>
				</div>
				<div
					data-ng-repeat="d in 
	[elementsMap[elementsMap[elementDialog.o.reference].reference].docRoot]">
					<div data-ng-include="'/f/process/process_85569.html'"></div>
				</div>

			</div>
		</div>
	</div>


</body>
</html>