<!DOCTYPE html>
<html data-ng-app="myApp" data-ng-controller="myCtrl" lang="uk-UA">
<meta charset="utf-8" />
<title>Реєстратура</title>
<link rel="stylesheet" href="/f/css/am.css">
<link rel="stylesheet" href="/f/css/w3.css">
<link rel="stylesheet"
	href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="/f/img/algoritmed.ico"
	type="image/x-icon">
<script src="/webjars/angularjs/1.7.5/angular.min.js"></script>
<script src="/webjars/angularjs/1.7.5/angular-sanitize.min.js"></script>
<script src="/webjars/angularjs/1.7.5/i18n/angular-locale_uk.js"></script>
<script src="/f/js/amk025-001.js"></script>
<script src="/f/js/jsonDoc.js"></script>
<script src="/f/js/saveRow.js"></script>
<script src="/f/reception/start1.js"></script>
<body class="w3-container">
	<h1 class="w3-container w3-small">
		<a href="/"
			class=" w3-btn w3-border w3-padding-small w3-round-large w3-hover-shadow am-no-print">
			<i class="fa fa-home w3-large" aria-hidden="true"></i>
		</a> &nbsp; Реєстратура
	</h1>
	<div class="w3-row-padding">
		<div class="w3-half">
			<div class="w3-border" style="margin-bottom: 8px;">
				<div>
					Пошук пацієнта <input class="w3-border" />
				</div>
				<div data-ng-repeat="o in [patient_template.docRoot]"
					data-ng-init="rowAttName = 'row_'+o.doc_id+'_id';">
					<table>
						<thead>
							<tr class="w3-tiny w3-blue-gray">
								<td>☰</td>
								<td><i class="fa fa-id-card-o" aria-hidden="true"></i></td>
								<th data-ng-repeat="col in patient_template.docRoot.children">
									{{col.value}}</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="row in patient_data" class="w3-hover-shadow"
								data-ng-click="edit_table.selectRow(row)">
								<td
									data-ng-class="{'w3-green':row[rowAttName]==edit_table.selectedRow[rowAttName]}">
								</td>
								<td></td>
								<td data-ng-repeat="col in patient_template.docRoot.children">
									{{row['col_'+col.doc_id]?'':'&nbsp;'}}
									{{row['col_'+col.doc_id]}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="w3-half">
			<div class="w3-border" style="margin-bottom: 8px;">
				Завести амбулаторну картку:
				<button class="w3-border w3-hover-shadow"
					data-ng-disabled="!edit_table.selectedRow"
					data-ng-click="makeAmk025()">ОК завести</button>
			</div>
			<div class="w3-border">
				<div>
					<button class="w3-tiny w3-border w3-hover-shadow"
						data-ng-click="edit_table.addRow(patient_template.docRoot.doc_id, patient_data)">
						Заведеня нового пацієнта</button>
					<button class="w3-tiny w3-border w3-hover-shadow"
						data-ng-disabled="!edit_table.selectedRow"
						data-ng-click="edit_table.setEditRow(patient_template.docRoot.doc_id)">
						редагувати пацієнта</button>
				</div>
				<div>
					<button class="w3-border"
						data-ng-click="edit_table.saveEditRow(patient_template.tableDataElement.doc_id)">OK
						записати</button>
					<button class="w3-border"
						data-ng-click="edit_table.cancelEditRow()">Cancel</button>
				</div>
				<div data-ng-repeat="col in patient_template.docRoot.children">
					<div class="w3-tiny am-b" title="{{col.doc_id}}">{{col.value}}</div>
					<input class="w3-border"
						data-ng-model="edit_table.editRow['col_'+col.doc_id]"
						data-ng-disabled="!edit_table.editRow" />
				</div>
			</div>
		</div>
	</div>
	<!-- 
				<div class="w3-code w3-tiny">{{patient_data}}</div>
				<div class="w3-code w3-tiny">{{patient_template.docRoot.children}}</div>
				 -->
</body>
</html>