<div>
	<table style="border-collapse: collapse;">
		<thead>
			<tr class="w3-small">
				<th class="w3-border w3-border-black"
					data-ng-repeat="col in o.children">{{col.value}}</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="row in [1,2,3,4,5]"
				data-ng-init="rowIndex = $index">
				<td class="w3-border w3-border-black"
					data-ng-init="colIndex = $index" data-ng-repeat="col in o.children">
					<i data-ng-if="rowIndex==0&&colIndex==0" class="fa fa-plus"
					aria-hidden="true"></i> &nbsp;
				</td>
			</tr>
		</tbody>
	</table>
</div>